
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Room-Expense-Manager</title>
  </head>
  <body ng-app="expenseApp">
 	<p style="height: 30px;"><a href="#overview">OverView</a> | <a href="#metrics">Metrics</a></p>
 	<hr/>
	<div ng-view>
	</div>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
	 
	<!--   <script type="text/javascript" th:src="@{/js/roomExpApp.js}"></script>
	  <script type="text/javascript" th:src="@{/js/routes.js}"></script> --> 
	  
	  
	<script type="text/javascript">
		var roomExpApp = angular.module('expenseApp', [ 'ngRoute' ]);
		roomExpApp.config([ '$routeProvider', function($routeProvider) {
			$routeProvider.when('/overview', {
				templateUrl : 'overview.html'
			}).when('/metrics', {
				templateUrl : 'metrics.html'
			}).otherwise({
				redirectTo : '/overview'
			});

		} ]);
	</script>
</body>
</html>

