<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
           Expense Manager App [Create/Update Your Expenses Here!]
        </title>
        <!-- Load AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        
        <script type="text/javascript">
            var app = angular.module("ExpenseManagement", []);
         
            //Controller Part
            app.controller("ExpenseManagementController", function($scope, $http) {
         
                //Initialize page with default data which is blank in this example
                $scope.expenses = [];
                $scope.form = {
                    id 			: -1,
                    owner 		: "",
                    spentDate 	: "",
                    cost	    : ""
                };
         
                //Now load the data from server
                _refreshPageData();
         
                //HTTP POST/PUT methods for add/edit employee
                $scope.submitEmployee = function() {
         
                    var method = "";
                    var url = "";
                    if ($scope.form.id == -1) {
                        //Id is absent so add employee - POST operation
                        method = "POST";
                        url = '/createExpense';
                    } else {
                        //If Id is present, it's edit operation - PUT operation
                       /*  method = "PUT";
                        url = 'employees/' + $scope.form.id; */
                    }
         
                    $http({
                        method : method,
                        url : url,
                        data : angular.toJson($scope.form),
                        headers : {
                            'Content-Type' : 'application/json'
                        }
                    }).then( _success, _error );
                };
         
                //HTTP DELETE- delete employee by Id
              $scope.removeEmployee = function(expense) {
                    $http({
                        method : 'DELETE',
                        url : '/deleteById/' + expense.id
                    }).then(_success, _error);
                }; 
 
                //In case of edit employee, populate form with employee data
                $scope.editEmployee = function(expense) {
                    $scope.form.cost = expense.cost;
                    $scope.form.owner = expense.owner;
                }; 
         
                /* Private Methods */
                //HTTP GET- get all employees collection
                function _refreshPageData() {
                    $http({
                        method : 'GET',
                        url : '/getExpenses'
                    }).then(function successCallback(response) {
                        $scope.expenses = response.data;
                    }, function errorCallback(response) {
                        console.log(response.statusText);
                    });
                }
         
                function _success(response) {
                    _refreshPageData();
                    _clearForm()
                }
         
                function _error(response) {
                    console.log(response.statusText);
                }
         
                //Clear the form
                function _clearForm() {
                    $scope.form.id = -1;
                    $scope.form.cost = "";
                    $scope.form.spentDate = null;
                    $scope.form.owner = "";
                };
            });
        </script>
        <style>
            .button {
                cursor: pointer;
                color: blue;
            }
            td,th{
                border: 1px solid gray;
                width: 25%;
                text-align: left;
            }
            table {
                width: 600px;
            }
        </style>
    <head>
    <body ng-app="ExpenseManagement" ng-controller="ExpenseManagementController">
         <h1>
          Expense Manager App [Create/Update Your Expenses Here!]
        </h1>
 
        <table>
            <tr>
                <th>ID</th>
                <th>OWNER</th>
                <th>SPENT-DATE</th>
                <th>COST</th>
                <th>Actions</th>
            </tr>
 
            <tr ng-repeat="expense in expenses">
                <td>{{ expense.id }}</td>
                <td>{{ expense.owner }}</td>
                <td>{{ expense.spentDate }}</td>
                <td>{{ expense.cost }}</td>
                <td><a ng-click="editEmployee( expense )" class="button">Edit</a> | <a ng-click="removeEmployee( expense )" class="button">Remove</a></td>
            </tr>
 
        </table>
 
        <h2>Add/Edit Employee</h2>
 
        <form ng-submit="submitEmployee()">
            <table style="width: 10%">
                <tr>
                    <td>OWNER</td>
                    <td><input type="text" ng-model="form.owner"  /></td>
                </tr>
                 <tr>
                    <td>COST</td>
                    <td><input type="number" ng-model="form.cost"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
 
    </body>
</html>